{% extends 'header.twig' %}
{% block title %}
	{% if  meta["id"] == -1 %}
		Ajout d'un champ optionel
	{% else %}
		Edition d'un champ optionel #{{meta["id"]}}
	{% endif %}
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center mb-5">
			{% if  meta["id"] == -1 %}
				Ajout d'un champ optionel
			{% else %}
				Edition d'un champ optionel #{{meta["id"]}}
			{% endif %}
		</h1>
		<form id="edit_form" method="post">
			<input type="hidden" name="act" value="save">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered">
					<tbody>
						<tr>
							<th scope="row"></th>
							<td>
								{% if meta["id"] %}#{{meta["id"]}}
								{% endif %}
							</td>
						</tr>
						<tr>
							<th scope="row">Pour la table</th>
							<td>{{meta["table_name"]}}</td>
						</tr>
						<tr>
							<th scope="row">Nom du champ</th>
							<td><input class="form-control" name='field_name' value='{{meta["field_name"]}}'/></td>
						</tr>
						<tr>
							<th scope="row">Type du champ</th>
							<td>
								{% if meta["id"] == -1 %}
									<select class="form-select" name="type">
										{% for t in types %}
											<option value="{{t}}" {% if t == meta["type"] %} selected {% endif %}>{{t}}</option>
										{% endfor %}
									</select>
								{% else %}
									{{meta["type"]}}
								{% endif %}
							</td>
						</tr>
						<tr>
							<th scope="row">Intitulé du champ (pour la recherche)</th>
							<td><input class="form-control" name='label' value='{{meta["label"]}}'/></td>
						</tr>
						<tr>
							<th scope="row">Champ actif ?</th>
							<td>
								<select class="form-select" name="active">
									<option value="1" {% if '1' == meta["active"] %} selected {% endif %}>Oui</option>
									<option value="0" {% if '0' == meta["active"] %} selected {% endif %}>Non</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-7 text-center col-md-4">
					<input class="btn btn-login" type="submit"/>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
