<div class="row">
    <label class="mb-0 mt-1" for="{{meta.id}}_0" class="form-label">{{ meta.label }}</label>
    <div class="col-6">
        <input class="form-control" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}][0]" value="{{value[0]}}" placeholder="From"/>
    </div>
        <!--<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_0');" src="img/inactive.png"/>-->
    <div class="col-6">
        <input id="{{meta.id}}_1" class="form-control"  type="text" name="value[{{meta.id}}][1]" value="{{value[1]}}" placeholder="To"/>
        <!--<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_1');" src="img/inactive.png"/>-->
    </div>
</div>