<div>
	<div class="row align-items-center">
		<div class="col-auto">
			<label for="{{meta.id}}_0" class="form-label">{{ meta.label }}</label>
		</div>
		<div class="col-auto">
			<input class="form-control" size="5" data-rule-number="true" type="text" name="value[{{meta.id}}][0]" value="{{value[0]}}" id="{{meta.id}}_0" placeholder="From"/>
		</div>

		<!--<label for="{{meta.id}}_1" class="form-label"> To </label>-->
		<div class="col-auto">
			<input id="{{meta.id}}_1" class="form-control" size="5" type="text" name="value[{{meta.id}}][1]" data-rule-number="true" value="{{value[1]}}" placeholder="To" />
		</div>
		<!-- <img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_1');" src="img/inactive.png"/> -->
	</div>
</div>
<br/>
<!--<div class="slider" id="slider-{{meta.id}}"></div> -->

<!--<script type="text/javascript">
$(function() {
		$( "#slider-{{meta.id}}" ).slider({
		   range:true,
		   min: {{ meta.minval }},
		   max: {{ meta.maxval }},
		   values: [ 
			{% if value[0] != "" %}{{value[0]}}{% else %}{{ meta.minval }}{% endif %}, 
			{% if value[1] != "" %}{{value[1]}}{% else %}{{ meta.maxval }}{% endif %},
		   ],
		   slide: function( event, ui ) {
			 $( "#{{meta.id}}_0" ).val( ui.values[ 0 ]);
			 $( "#{{meta.id}}_1" ).val( ui.values[ 1 ]);
		   }
		});
	 });
</script>-->