<tr>
	{% for key, met in metas["record"] %}
		{% if key == 5 %}
			<td>{{data[0][met["field_name"]]|date('Y-m-d H:i')}}</td>
		{% else %}
			<td>{{data[0][met["field_name"]]}}</td>
		{% endif %}
	{% endfor %}
	{% for line in data %}
		<td>{{line["sequence_order"]}}</td>
	{% endfor %}
	{% for met in metas["production"] %}
		<td>
			{% for line in data %}
				{{line[met["field_name"]]}}<br/>
			{% endfor %}
		</td>
	{% endfor %}
	{% for met in metas["speaker"] %}
		<td>
			{% for line in data %}
				{{line[met["field_name"]]}}<br/>
			{% endfor %}
		</td>
	{% endfor %}
	<td style="background-color: #e6ffff !important;">
		<div class="d-flex">
			<button id="b_{{data[0]['record_id']}}_add" onclick="javascript:add_to_basket({{data[0]['record_id']}})" class="btn btn-round p-0 mx-1" type="button" {% if data[0]["in_basket"]%}style='display:none'{% endif %}>
				<img src="./img/cart.png" alt="cart" class="img-fluid">
			</button>
			<button id="b_{{data[0]['record_id']}}_rem" onclick="javascript:rem_from_basket({{data[0]['record_id']}})" class="btn btn-round p-0 mx-1" type="button" {% if not data[0]["in_basket"]%}style='display:none'{% endif %}>
				<img src="./img/cross.png" alt="cross" class="img-fluid">
			</button>
			<button  class="btn btn-round p-0 mx-1 dropdown" onclick="javascript:lireAudio({{data[0]['record_id']}})" type="button" id='audioDropdown{{data[0]["record_id"]}}' data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
				<img src="./img/play.png" alt="play" class="img-fluid">
			</button>
			<div class="dropdown-menu p-2" aria-labelledby='audioDropdown{{data[0]["record_id"]}}'>
				<audio class="audiosRecord" id='audio{{data[0]["record_id"]}}' controls preload="none">
					<source src='./files/{{data[0]["filename"]}}' type="audio/wav">
				Your browser does not support the audio element.
				</audio>
			</div>
		</div>
	</td>
</tr>