<div class="mb-2">
    <!--<label for="{{meta.id}}_0" class="form-label">{{ meta.label }}</label> -->
    <input class="form-control" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}]" value="{{value}}" placeholder="{{ meta.label }}"/>
    <!--<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_0');" src="img/inactive.png"/>-->

</div>