<div class="row align-items-center">
    <div class="col-auto">
        <label for="{{meta.id}}_0" class="form-label">{{ meta.label }}</label>
    </div>
    <div class="col-auto">
        <input class="form-control" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}][0]" value="{{value[0]}}" size="10"/>
    </div>
        <!--<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_0');" src="img/inactive.png"/>-->
    <div class="col-auto">
        <label for="{{meta.id}}_1">To</label>
    </div>
    <div class="col-auto">
        <input id="{{meta.id}}_1" class="form-control"  type="text" name="value[{{meta.id}}][1]" value="{{value[1]}}" size="10"/>
        <!--<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_1');" src="img/inactive.png"/>-->
    </div>
    <br/>
    